@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #000;
  color: #c8d6e5;
  color: #fff;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.top-bar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background: black;
  -webkit-backdrop-filter: blur(40px) saturate(1);
          backdrop-filter: blur(40px) saturate(1);
  -webkit-box-shadow: 0 10px 20px #070707b0;
          box-shadow: 0 10px 20px #070707b0;
  -webkit-transition: 0.56s cubic-bezier(0.71, 0.01, 0.28, 0.93);
  transition: 0.56s cubic-bezier(0.71, 0.01, 0.28, 0.93);
  overflow: hidden;
  border-bottom: 1px solid #191919;
}

.top-bar.menu-active {
  height: 100vh;
}

.top-bar.menu-active .top-bar_arrow::after {
  -webkit-transform: rotate(-38deg) translate(-11px, -10px);
          transform: rotate(-38deg) translate(-11px, -10px);
}

.top-bar.menu-active .top-bar_arrow::before {
  -webkit-transform: rotate(38deg) translate(10.8px, -10px);
          transform: rotate(38deg) translate(10.8px, -10px);
}

.top-bar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.top-bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-bar_arrow {
  position: relative;
}

.top-bar_arrow::after, .top-bar_arrow::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 19.3px;
  height: 1px;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.top-bar_arrow::before {
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
  top: 30%;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.top-bar_arrow::after {
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
  top: 30%;
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header {
  text-align: center;
  margin-top: 80px;
}

.savings {
  margin-top: 20px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.saving {
  background: #3a3a3a;
  margin: 10px;
  padding: 7px 20px;
  border-radius: 3px;
}

.rates-section {
  margin-top: 30px;
}

.converted {
  font-size: 35px;
  margin: 15px auto;
  display: block;
}

.currency {
  background-color: #1d1d1d;
  background-color: #141414;
  max-width: 550px;
  padding: 20px;
  margin: 0px auto 30px;
  border-radius: 5px;
  -webkit-transition: 0.3s cubic-bezier(0.53, 0, 0.52, 1);
  transition: 0.3s cubic-bezier(0.53, 0, 0.52, 1);
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  opacity: 0;
}

.currency__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currency__img {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
}

.currency__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.currency__content {
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.currency__title {
  font-size: 32px;
  font-weight: 400;
}

.currrency__text {
  line-height: 35px;
}

.currency__rate {
  margin: 0 10px;
}

.clearLS {
  display: block;
  margin: 30px auto;
  margin-bottom: 100px;
  padding: 7px 25px;
  background: #170e41;
  color: #fff;
  opacity: 0;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.currency,
.clearLS {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.53, 0, 0.52, 1);
          animation-timing-function: cubic-bezier(0.53, 0, 0.52, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.show-form-button,
.form-send-button {
  background: #304ffe;
  color: #fff;
  padding: 7px 20px;
  margin: 15px auto 3px auto;
  font-size: 16px;
}

.footer__bottom {
  margin: 7px auto;
}

.popup {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__window {
  margin-top: -70px;
  background-color: #d9d9d9;
  background-color: #141414;
  color: #fff;
  text-align: center;
  padding: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px #070707;
          box-shadow: 0 10px 30px #070707;
  border: 1px solid #5555553d;
}

.popup.active .popup__window {
  margin-top: -170px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.input-box {
  margin: 15px auto;
  position: relative;
  min-height: 37px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7px 15px;
  font-size: 18px;
  color: #304ffe;
  background: rgba(0, 0, 0, 0.1);
}

.input-line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.input-line::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #304ffe;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.input:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.input:focus + .input-line::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.radio-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-style {
  width: 16px;
  height: 16px;
  border: 2px solid #304ffe;
  border-radius: 50px;
  position: relative;
}

.radio-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  display: block;
  background-color: #304ffe;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  -webkit-transition: 0.13s;
  transition: 0.13s;
}

.radio-style + span {
  margin-left: 7px;
}

.radio-input:focus + .radio-style {
  -webkit-box-shadow: 0px 0px 0px 2px #fff;
          box-shadow: 0px 0px 0px 2px #fff;
}

.radio-input:checked + .radio-style::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.form-send-button {
  margin: 0;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media all and (max-width: 535px) {
  .currency {
    -webkit-animation-duration: 0.23s;
            animation-duration: 0.23s;
  }
  .currency__img {
    width: 40px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .currency__title {
    font-size: 26px;
  }
  .popup__window {
    margin-top: -180px;
  }
  .popup.active .popup__window {
    margin-top: -250px;
  }
}

@media all and (max-width: 465px) {
  body {
    font-size: 15px;
  }
  .currency {
    margin: 15px auto;
    padding: 10px;
  }
  .currency__content {
    margin-left: 10px;
  }
  .currency__title {
    font-size: 22px;
  }
  .currrency__text {
    line-height: 23px;
  }
}

@media all and (max-width: 360px) {
  body {
    font-size: 14px;
  }
  .currency__title {
    font-size: 17px;
  }
}
