@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #292929;
  color: #fff;
  color: #fff;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

input,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

button {
  display: block;
  cursor: pointer;
}

.ripple__button {
  position: relative;
  overflow: hidden;
}

.ripple__button .ripple {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: ripple 0.6s;
          animation: ripple 0.6s;
}

@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.8;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.8;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.top-bar {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  overflow: hidden;
  -webkit-transition: 0.3s cubic-bezier(0.3, 0.82, 0.3, 1);
  transition: 0.3s cubic-bezier(0.3, 0.82, 0.3, 1);
  background: #292929;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.top-bar.menu-active {
  height: 100vh;
}

.top-bar.menu-active .top-bar_arrow::after {
  -webkit-transform: rotate(-38deg) translate(-11px, -10px);
          transform: rotate(-38deg) translate(-11px, -10px);
}

.top-bar.menu-active .top-bar_arrow::before {
  -webkit-transform: rotate(38deg) translate(10.8px, -10px);
          transform: rotate(38deg) translate(10.8px, -10px);
}

.top-bar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.top-bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-bar_arrow {
  position: relative;
}

.top-bar_arrow::after, .top-bar_arrow::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 19.3px;
  height: 1px;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.top-bar_arrow::before {
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
  top: 30%;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.top-bar_arrow::after {
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
  top: 30%;
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu-button {
  background: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header {
  text-align: center;
  margin-top: 80px;
}

.savings {
  margin-top: 20px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.saving {
  background: #121212;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.12);
  font-weight: 400;
  margin: 10px;
  padding: 7px 20px;
  border-radius: 3px;
  outline: 1px #000;
  cursor: pointer;
}

.saving:hover {
  background: rgba(255, 255, 255, 0.04);
}

.saving:focus {
  background: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
          box-shadow: inset 0px 0px 0px 1px #ffffff;
}

.saving span {
  pointer-events: none;
}

.rates-section {
  margin-top: 30px;
}

.converted {
  font-size: 55px;
  margin: 15px auto;
  display: block;
  font-weight: 400;
}

.currency {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  text-align: left;
  color: #fff;
  width: 100%;
  background: #1e1e1e;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 550px;
  margin: 0px auto 22px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  font-weight: 300;
  opacity: 0;
  outline: 1px #000000;
  cursor: pointer;
}

.currency:hover {
  background: rgba(255, 255, 255, 0.04);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.currency:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #fff;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #fff;
  background: rgba(255, 255, 255, 0.12);
}

.currency__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currency__img {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
}

.currency__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.currency__content {
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.currency__title {
  font-weight: 500;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.87);
}

.currrency__text {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.87);
}

.currency__rate {
  margin: 0 10px;
  font-weight: 500;
}

.clearLS {
  display: block;
  margin: 30px auto;
  margin-bottom: 100px;
  text-transform: uppercase;
  padding: 10px 15px;
  background: transparent;
  color: #bb86fc;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  opacity: 0;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  outline: 1px #000;
}

.clearLS:hover {
  background: rgba(255, 255, 255, 0.05);
}

.clearLS:focus {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffffff;
}

.currency,
.clearLS {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.53, 0, 0.52, 1);
          animation-timing-function: cubic-bezier(0.53, 0, 0.52, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}

.show-form-button,
.form-send-button {
  display: block;
  padding: 10px 15px;
  margin: 15px auto;
  text-transform: uppercase;
  border-radius: 4px;
  color: #000;
  background: #bb86fc;
}

.footer__bottom {
  margin: 7px auto;
}

.popup {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__window {
  margin-top: -70px;
  background: #292929;
  -webkit-box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-weight: 100;
  padding: 20px 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
  min-width: 280px;
  border: 1px solid #5555553d;
}

.popup.active .popup__window {
  margin-top: -170px;
}

.popup__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.87);
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.input-box {
  margin: 15px auto;
  position: relative;
  min-height: 37px;
}

.input {
  outline: 1px #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7px 15px;
  font-size: 18px;
  color: #bb86fc;
  background: rgba(0, 0, 0, 0.1);
}

.input-line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.input-line::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #bb86fc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.input:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.input:focus + .input-line::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.radio-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-style {
  width: 20px;
  height: 20px;
  border: 2px solid #bb86fc;
  border-radius: 50px;
  position: relative;
}

.radio-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  display: block;
  background-color: #bb86fc;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  -webkit-transition: 0.13s;
  transition: 0.13s;
}

.radio-style + span {
  margin-left: 7px;
}

.radio-input:focus + .radio-style {
  -webkit-box-shadow: 0px 0px 0px 2px #fff;
          box-shadow: 0px 0px 0px 2px #fff;
}

.radio-input:checked + .radio-style::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.chart-wrap {
  margin-top: 10px;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media all and (max-width: 585px) {
  .currency__title {
    font-size: 24px;
  }
}

@media all and (max-width: 535px) {
  .currency {
    -webkit-animation-duration: 0.23s;
            animation-duration: 0.23s;
  }
  .currency__body {
    padding: 15px;
  }
  .currency__img {
    height: 55px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
  }
  .popup__window {
    margin-top: -180px;
  }
  .popup.active .popup__window {
    margin-top: -250px;
  }
}

@media all and (max-width: 465px) {
  .converted {
    font-size: 45px;
  }
  body {
    font-size: 15px;
  }
  .currency {
    margin: 15px auto;
    padding: 10px;
  }
  .currency__body {
    padding: 5px;
  }
  .currency__img {
    height: 45px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
  }
  .currency__content {
    margin-left: 10px;
  }
  .currency__title {
    font-size: 22px;
  }
  .currrency__text {
    line-height: 23px;
  }
}

@media all and (max-width: 450px) {
  .currency__title {
    font-size: 17px;
  }
}

@media all and (max-width: 385px) {
  body {
    font-size: 14px;
  }
  .currency {
    padding: 5px;
  }
}

@media all and (max-width: 345px) {
  .currency__title {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: light) {
  body,
  button {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
  }
  .top-bar {
    background: #6200ee;
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .currency,
  .saving {
    color: rgba(0, 0, 0, 0.87);
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .currency:hover,
  .saving:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .currency:focus,
  .saving:focus {
    background: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .currency__title {
    color: rgba(0, 0, 0, 0.87);
  }
  .currrency__text {
    color: rgba(0, 0, 0, 0.6);
  }
  .clearLS {
    color: #6200ee;
    border: 2px solid rgba(0, 0, 0, 0.12);
    outline: 1px #000;
  }
  .clearLS:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  .clearLS:focus {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  .show-form-button,
  .form-send-button {
    color: #fff;
    background: #6200ee;
  }
  .popup__window {
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    -webkit-box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #5555553d;
  }
  .popup__title {
    color: rgba(0, 0, 0, 0.87);
  }
  .input {
    color: #6200ee;
  }
  .input-line::before {
    background-color: #6200ee;
  }
  .radio-style {
    border: 2px solid #6200ee;
  }
  .radio-style::before {
    background-color: #6200ee;
  }
}
