@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #232323;
  color: #d9d9d9;
  overflow-x: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.currency {
  max-width: 500px;
  background-color: #35528c;
  color: #d9d9d9;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
}

.saves {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  padding: 20px 0 5px;
}

.save {
  padding: 7px 15px;
  background: #35528c;
  background: #f28379;
  color: #d9d9d9;
  border-radius: 3px;
}

.save + .save {
  margin-left: 15px;
}

.save__amount {
  margin: 0 5px;
}

.amount-input {
  padding: 10px 20px;
  font-size: 20px;
  position: relative;
  background: transparent;
  color: #d9d9d9;
}

.input-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  position: relative;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 3px;
  overflow: hidden;
}

.input-line {
  background: rgba(217, 217, 217, 0.3);
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.input-line::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #f28379;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 3;
}

.amount-input:focus + .input-line::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#send {
  text-transform: uppercase;
  font-size: 18px;
  background-color: #f28379;
  padding: 7px 30px;
  color: #d9d9d9;
  margin: 0 20px;
  border-radius: 3px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

@media all and (max-width: 450px) {
  .currency__name {
    font-size: 26px;
  }
}
