@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #000;
  color: #c8d6e5;
  color: #fff;
  overflow-x: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.savings {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.saving {
  background: #3a3a3a;
  margin: 10px;
  padding: 7px 20px;
  border-radius: 3px;
}

.currencies {
  margin-bottom: 100px;
}

.currency {
  background-color: #1d1d1d;
  background-color: #141414;
  max-width: 550px;
  padding: 20px;
  margin: 30px auto;
  border-radius: 5px;
}

.currency__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currency__img {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
}

.currency__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.currency__content {
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.currency__title {
  font-size: 32px;
  font-weight: 400;
}

.currency__rate {
  margin: 0 10px;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.show-form-button,
.form-send-button {
  background: #304ffe;
  color: #fff;
  padding: 7px 20px;
  margin: 15px auto 3px auto;
  font-size: 16px;
}

.footer__bottom {
  margin: 7px auto;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__window {
  margin-top: 70px;
  background-color: #d9d9d9;
  background-color: #141414;
  color: #fff;
  text-align: center;
  padding: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.popup.active .popup__window {
  margin-top: 0px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.input-box {
  margin: 15px auto;
  position: relative;
}

.input {
  width: 100%;
  height: 100%;
  padding: 7px 15px;
  font-size: 18px;
  color: #304ffe;
}

.saving-amount-input {
  background: rgba(0, 0, 0, 0.1);
}

.input-line {
  background-color: rgba(255, 255, 255, 0.1);
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.input-line::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #304ffe;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.input:focus + .input-line::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.radio-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-style {
  width: 16px;
  height: 16px;
  border: 2px solid #304ffe;
  border-radius: 50px;
  position: relative;
}

.radio-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  display: block;
  background-color: #304ffe;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radio-style + span {
  margin-left: 7px;
}

.radio-input:focus + .radio-style {
  -webkit-box-shadow: 0px 0px 0px 2px #feca57;
          box-shadow: 0px 0px 0px 2px #feca57;
}

.radio-input:checked + .radio-style::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.form-send-button {
  margin: 0;
}

@media all and (max-width: 535px) {
  .currency__title {
    font-size: 26px;
  }
}

@media all and (max-width: 465px) {
  body {
    font-size: 15px;
  }
  .currency {
    margin: 15px auto;
    padding: 10px;
  }
  .currency__img {
    width: 40px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .currency__content {
    margin-left: 10px;
  }
  .currency__title {
    font-size: 22px;
  }
}

@media all and (max-width: 360px) {
  body {
    font-size: 14px;
  }
  .currency__title {
    font-size: 17px;
  }
}
